footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    svg {
        width: 1.1em !important;
        height: 1.1em !important;
        margin-right: 10px;
    }

    p {
        font-size: 0.8em;
    }
    div a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
            filter: drop-shadow(0 0 6px white);
        }
    }
}

// Light mode footer social icons
.light-mode footer {
    div a {
        color: #333;
        
        &:hover {
            color: #000;
            filter: drop-shadow(0 0 6px #000);
        }
    }
}